.button {
  outline: 0;
  outline: 1px solid transparent;
  cursor: pointer;

  &[data-disabled] {
    cursor: default;
  }

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);

  color: var(--accent-contrast);
  background-color: var(--accent-9);

  &[data-accent-color="whiteblack"] {
    background-color: var(--gray-12);
    color: var(--gray-1);
  }

  &:hover {
    background-color: var(--accent-10);

    &[data-accent-color="whiteblack"] {
      background-color: var(--gray-12);
      filter: brightness(0.9);
    }
  }

  &:active:not([data-disabled]) {
    filter: brightness(1.08);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-7);
  }

  &[data-is-loading="true"] {
    pointer-events: none;
    outline-color: transparent;

    color: transparent !important;

    > *:not(.loader) {
      opacity: 0 !important;
    }
  }

  .loader {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    opacity: 0;

    &[data-is-visible="true"] {
      opacity: 1;
    }

    div {
      color: var(--accent-contrast) !important;
    }
  }

  border-radius: 10px;

  box-shadow: 0 3px 4px #00000039;
  border: 1px solid var(--accent-7);

  font-weight: 500;

  transition:
    color 50ms ease-out,
    background-color 50ms ease-out,
    outline-color 50ms ease-out;
}

/* Sizes */
.xs {
  height: var(--space-7);
  padding-inline: var(--space-2-5);
  font-size: 12px;
  font-weight: 400;
}

.sm {
  height: var(--space-8);
  padding-inline: var(--space-3);
  font-size: 13px;
}

.md {
  height: var(--space-9);
  padding-inline: var(--space-4);
  font-size: 14px;
  border-radius: 12px;
}

/* Variants */
.solid {
  color: var(--accent-contrast);
  background-color: var(--accent-9);

  &:hover {
    background-color: var(--accent-10);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-8);
  }

  &[data-disabled] {
    background-color: var(--accent-8);
    color: var(--gray-11);
  }

  .loader {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.soft {
  color: var(--accent-12);
  background-color: var(--accent-3);
  box-shadow: 0 3px 4px #00000005;
  border: 0;

  &:hover {
    background-color: var(--accent-4);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &[data-disabled] {
    background-color: var(--accent-2);
    color: var(--gray-11);
  }

  .loader {
    background-color: rgba(255, 255, 255, 0.3);

    div {
      color: var(--accent-12) !important;
    }
  }
}

.surface {
  color: var(--accent-12);
  background-color: var(--accent-3);

  &:hover {
    background-color: var(--accent-4);
    border-color: var(--accent-8);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-6);
    background-color: var(--accent-5);
  }

  &:active,
  &[data-pressed] {
    background-color: var(--accent-5);
    border-color: var(--accent-8);
  }

  &[data-disabled] {
    background-color: var(--accent-2);
    border-color: var(--accent-6);
    color: var(--gray-11);
  }

  .loader {
    background-color: rgba(255, 255, 255, 0.3);

    div {
      color: var(--accent-12) !important;
    }
  }
}

.outline {
  color: var(--accent-12);
  background-color: transparent;

  &:hover {
    background-color: var(--accent-4);
    border-color: var(--accent-8);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &[data-disabled] {
    border-color: var(--accent-6);
    color: var(--gray-11);
  }

  .loader div {
    color: var(--accent-12) !important;
  }
}

.ghost {
  background-color: transparent;
  box-shadow: none;
  border: 0;
  color: var(--accent-12);

  &:hover {
    background-color: var(--accent-3);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-4);
  }

  .loader div {
    color: var(--accent-11) !important;
  }
}
