.button {
  outline: 0;
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);

  color: var(--accent-contrast);
  background-color: var(--accent-9);

  &:hover {
    background-color: var(--accent-10);
  }

  &:active:not([data-disabled]) {
    filter: brightness(1.08);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-7);
  }

  border-radius: 6px;

  font-weight: 500;

  transition: color 50ms ease-out,
  background-color 50ms ease-out,
  border-color 50ms ease-out;
}

/* Sizes */
.xs {
  height: var(--space-7);
  padding-inline: var(--space-2-5);
  font-size: 12px;
  font-weight: 400;
}

.sm {
  height: var(--space-8);
  padding-inline: var(--space-3);
  font-size: 13px;
}

.md {
  height: var(--space-9);
  padding-inline: var(--space-4);
  font-size: 14px;
}

/* Variants */
.solid {
  color: var(--accent-contrast);
  background-color: var(--accent-9);

  &:hover {
    background-color: var(--accent-10);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-8);
  }

  &[data-disabled] {
    background-color: var(--accent-8);
    color: var(--gray-11);
  }
}

.soft {
  color: var(--accent-12);
  background-color: var(--accent-3);

  &:hover {
    background-color: var(--accent-4);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &[data-disabled] {
    background-color: var(--accent-2);
    color: var(--gray-11);
  }
}

.surface {
  color: var(--accent-12);
  background-color: var(--accent-3);
  border: 1px solid var(--accent-7);

  &:hover {
    background-color: var(--accent-4);
    border-color: var(--accent-8);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-6);
    background-color: var(--accent-5);
  }

  &:active,
  &[data-pressed] {
    background-color: var(--accent-5);
    border-color: var(--accent-8);
  }

  &[data-disabled] {
    background-color: var(--accent-2);
    border-color: var(--accent-6);
    color: var(--gray-11);
  }
}

.outline {
  color: var(--accent-12);
  background-color: transparent;
  border: 1px solid var(--accent-7);

  &:hover {
    background-color: var(--accent-4);
    border-color: var(--accent-8);
  }

  &:active:not([data-disabled]) {
    background-color: var(--accent-5);
  }

  &[data-disabled] {
    border-color: var(--accent-6);
    color: var(--gray-11);
  }
}

.ghost {
  width: auto;
  height: auto;
  color: var(--gray-11);
  background-color: transparent;

  &:hover,
  &:active:not([data-disabled]) {
    color: var(--accent-12);
    background-color: transparent;
  }
}
