.button {
  outline: 0;
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  gap: var(--space-2);

  color: var(--accent-contrast);
  background-color: var(--accent-9);

  &:hover {
    background-color: var(--accent-10);
  }

  &:active:not([data-disabled]) {
    filter: brightness(1.08);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-7);
  }

  height: var(--space-8);
  padding-inline: var(--space-4);
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;

  transition: color 50ms ease-out,
  background-color 50ms ease-out,
  border-color 50ms ease-out;
}
