.collapsible {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms ease-out;

  &[data-opened] {
    grid-template-rows: 1fr;
  }

  > div {
    overflow: hidden;
  }
}
