.backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);
  touch-action: none;
  z-index: 999;

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popup {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 360px;
  overflow: hidden;
  max-width: calc(100vw - var(--space-8));
  margin-top: calc(var(--space-4) * -1);
  border-radius: 16px;
  outline: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  touch-action: none;
  translate: -50% -50%;

  background-color: var(--gray-3);

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--gray-6);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    scale: 0.95;
    translate: -50% -50%;
  }

  transition:
    translate 150ms,
    scale 150ms;
}

.title {
  color: var(--gray-12);
  font-size: 18px;
  font-weight: 600;
}

.description {
  color: var(--gray-11);
  font-size: 14px;
}

.header {
  padding-inline: var(--space-6);
  padding-top: var(--space-4);
}

.body {
  padding-inline: var(--space-6);
  padding-block: var(--space-4) var(--space-6);

  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.footer {
  background-color: var(--gray-2);
  padding-inline: var(--space-6);
  padding-block: var(--space-3);

  border-top: 1px solid var(--gray-6);

  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-2);
}
