.iconButton {
  padding: 0;
  display: grid;
  place-items: center;
  border-radius: var(--radius-regular);
  outline: 0;

  &[data-focus-visible] {
    outline: 2px solid var(--accent-7);
  }

  transition:
    color 50ms ease-out,
    background-color 50ms ease-out,
    border-color 50ms ease-out;
}

.xs {
  width: var(--space-7);
  max-width: var(--space-7);
  height: var(--space-7);
  max-height: var(--space-7);
}

.sm {
  width: var(--space-8);
  max-width: var(--space-8);
  height: var(--space-8);
  max-height: var(--space-8);
}

.md {
  width: var(--space-9);
  max-width: var(--space-9);
  height: var(--space-9);
  max-height: var(--space-9);
}
