.iconButton {
  width: var(--space-8);
  height: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-regular);
  outline: 0;

  &[data-focus-visible] {
    outline: 2px solid var(--accent-7);
  }

  transition: color 50ms ease-out,
  background-color 50ms ease-out,
  border-color 50ms ease-out;
}
