.container {
  position: relative;
  height: var(--space-9);
}

.input {
  --ring-color: var(--accent-7);
  --ring-size: 1px;

  height: var(--space-9);
  padding-inline: var(--space-4);
  background-color: var(--accent-3);
  border: 0;
  border-radius: 12px;
  outline: 0;
  color: var(--accent-12);
  box-shadow:
    0 0 0 var(--ring-size) var(--ring-color),
    0 3px 4px -1px #0000000d;

  font-size: 14px;

  /* Prevent zoom-in on mobile */
  @media (width < 40rem) {
    font-size: 16px;
  }

  &[data-has-error="true"] {
    outline: 1px solid var(--red-7);
    border-color: var(--red-7);
  }

  &:hover {
    background-color: var(--accent-4);
    --ring-color: var(--accent-8);

    &[data-has-error="true"] {
      --ring-color: var(--red-8);
    }
  }

  &:focus-visible {
    --ring-size: 2px;
    --ring-color: var(--blue-8);

    &[data-has-error="true"] {
      --ring-color: var(--red-8);
    }
  }

  transition: box-shadow 0.12s;
}

.inputWithLeftIcon {
  padding-left: calc(var(--space-3) + 20px + var(--space-2));
}

.loaderContainer {
  position: absolute;
  left: var(--space-3);
  top: 50%;
  transform: translateY(-50%);
}

.loader {
  width: var(--space-5) !important;
  height: var(--space-5) !important;
}

.iconLeft {
  color: var(--accent-11);
  position: absolute;
  left: var(--space-3);
  top: 50%;
  transform: translateY(-50%);
}

.errorMessage {
  font-size: 14px;
  line-height: 14px;
  color: var(--red-11);
  margin-top: var(--space-2);
}
