.container {
  position: relative;
  height: var(--space-9);
}

.input {
  height: var(--space-9);
  padding-inline: var(--space-4);
  background-color: var(--accent-3);
  border: 1px solid var(--accent-7);
  border-radius: 6px;
  color: var(--accent-12);

  font-size: 14px;

  &[data-has-error="true"] {
    outline: 1px solid var(--red-7);
    border-color: var(--red-7);
  }

  &:hover {
    background-color: var(--accent-4);
    border-color: var(--accent-8);

    &[data-has-error="true"] {
      border-color: var(--red-8);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--accent-7);

    &[data-has-error="true"] {
      outline-color: var(--red-7);
    }
  }
}

.inputWithLeftIcon {
  padding-left: calc(var(--space-3) + 20px + var(--space-2));
}

.loaderContainer {
  position: absolute;
  left: var(--space-3);
  top: 50%;
  transform: translateY(-50%);
}

.loader {
  width: var(--space-5) !important;
  height: var(--space-5) !important;
}

.iconLeft {
  color: var(--accent-11);
  position: absolute;
  left: var(--space-3);
  top: 50%;
  transform: translateY(-50%);
}

.errorMessage {
  font-size: 14px;
  line-height: 14px;
  color: var(--red-11);
  margin-top: var(--space-2);
}
