.loader {
  position: relative;
  width: var(--space-5);
  height: var(--space-5);
  border-radius: 10px;
}

.loader div {
  width: 7%;
  height: 24%;
  background-color: var(--accent-11);
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  border-radius: 999px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade 1.2s linear infinite;
  transform-origin: center 0%;
  margin-left: -4%;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader div:nth-child(1) {
  transform: rotate(0deg) translate(0, 70%);
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  transform: rotate(30deg) translate(0, 70%);
  animation-delay: -1.1s;
}

.loader div:nth-child(3) {
  transform: rotate(60deg) translate(0, 70%);
  animation-delay: -1s;
}

.loader div:nth-child(4) {
  transform: rotate(90deg) translate(0, 70%);
  animation-delay: -0.9s;
}

.loader div:nth-child(5) {
  transform: rotate(120deg) translate(0, 70%);
  animation-delay: -0.8s;
}

.loader div:nth-child(6) {
  transform: rotate(150deg) translate(0, 70%);
  animation-delay: -0.7s;
}

.loader div:nth-child(7) {
  transform: rotate(180deg) translate(0, 70%);
  animation-delay: -0.6s;
}

.loader div:nth-child(8) {
  transform: rotate(210deg) translate(0, 70%);
  animation-delay: -0.5s;
}

.loader div:nth-child(9) {
  transform: rotate(240deg) translate(0, 70%);
  animation-delay: -0.4s;
}

.loader div:nth-child(10) {
  transform: rotate(270deg) translate(0, 70%);
  animation-delay: -0.3s;
}

.loader div:nth-child(11) {
  transform: rotate(300deg) translate(0, 70%);
  animation-delay: -0.2s;
}

.loader div:nth-child(12) {
  transform: rotate(330deg) translate(0, 70%);
  animation-delay: -0.1s;
}
