.root {
  padding-block: var(--space-4);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);

  &[data-is-collapsed="true"] {
    width: 72px !important;
  }

  transition: width 500ms var(--animation-function);

  --animation-function: cubic-bezier(0, 0, 0.15, 1);
  --side-padding: var(--space-4);
  --item-left-padding: var(--space-3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--side-padding);
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: var(--space-2);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;

  &[data-is-collapsed="true"] {
    *:not(img):not(svg):not(.headerLogoImage) {
      opacity: 0;
    }
  }

  &[data-is-collapsed="true"] {
    &[data-can-expand-manually="true"] {
      cursor: e-resize;
    }

    &[data-can-expand-manually="false"] {
      cursor: default;
    }
  }

  *:not(img):not(svg) {
    transition: opacity 250ms var(--animation-function);
  }
}

.headerLogoImage {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;

  display: grid;
  place-items: center;

  img,
  svg {
    width: 100%;
    height: 100%;
  }
}

.headerCollapseButton {
  cursor: pointer;
  color: var(--gray-11);
  cursor: w-resize;
  opacity: 1;

  &:hover {
    color: var(--gray-12);
  }

  &[data-is-collapsed="true"] {
    cursor: default;
    opacity: 0;
    width: 0;
  }

  transition:
    color 150ms var(--animation-function),
    opacity 250ms var(--animation-function),
    width 500ms var(--animation-function);
}

.content {
  flex: 1;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: var(--space-8);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  &[data-variant="compact"] {
    .itemButton {
      padding-block: var(--space-1);
    }
  }
}

.groupHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
  padding-left: calc(var(--side-padding) + var(--item-left-padding));
  padding-right: var(--side-padding);
  user-select: none;

  &[data-is-collapsed="true"] {
    gap: 0;
    padding-right: calc(var(--side-padding) + var(--item-left-padding));
  }

  transition: gap 500ms var(--animation-function);
}

.groupTitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-11);
  opacity: 1;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &[data-is-collapsed="true"] {
    opacity: 0;
    width: 0px;
  }

  transition:
    opacity 250ms var(--animation-function),
    width 500ms var(--animation-function);
}

.groupAction {
  display: flex;
  gap: var(--space-2);
  cursor: pointer;
  color: var(--gray-11);

  &:hover {
    color: var(--gray-12);
  }

  svg {
    width: 14px;
    height: 14px;
    stroke-width: 1.5;
  }

  &[data-is-collapsed="true"] {
    svg {
      left: 50%;
    }
  }

  transition:
    right 500ms var(--animation-function),
    transform 500ms var(--animation-function);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.item {
  position: relative;
  list-style-type: none;
  padding-inline: var(--side-padding);

  &[data-is-collapsed="true"] {
    &:has(.itemButtonImageBlock) {
      padding-inline: 14px;
    }
  }

  transition: padding-inline 500ms var(--animation-function);
}

.itemButton {
  width: 100%;
  padding-block: var(--space-2);
  padding-inline: var(--item-left-padding);
  display: flex;
  align-items: center;
  gap: var(--space-3);
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--gray-4);
  }

  &:active:not([data-disabled]) {
    background-color: var(--gray-5);
  }

  &[data-is-active="true"] {
    background-color: var(--gray-5);
  }

  &[data-is-collapsed="true"] {
    &:has(.itemButtonImageBlock) {
      padding: var(--space-1);
    }

    span,
    p {
      opacity: 0;
    }
  }

  span,
  p {
    opacity: 1;

    transition: opacity 250ms var(--animation-function);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-clamp: 1;
  }

  text-align: left;

  svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    color: var(--gray-11);
  }

  &[data-is-active="true"] {
    svg {
      color: var(--gray-12);
    }
  }

  transition: padding 500ms var(--animation-function);
}

.itemButtonImageBlock {
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.itemButtonBody {
  overflow: hidden;
}

.footer {
  margin-top: auto;
}
