.spacer {
  &[data-size="1"] {
    min-height: var(--space-1);
  }

  &[data-size="2"] {
    min-height: var(--space-2);
  }

  &[data-size="3"] {
    min-height: var(--space-3);
  }

  &[data-size="4"] {
    min-height: var(--space-4);
  }

  &[data-size="5"] {
    min-height: var(--space-5);
  }

  &[data-size="6"] {
    min-height: var(--space-6);
  }

  &[data-size="7"] {
    min-height: var(--space-7);
  }

  &[data-size="8"] {
    min-height: var(--space-8);
  }

  &[data-size="9"] {
    min-height: var(--space-9);
  }

  &[data-size="10"] {
    min-height: var(--space-10);
  }

  &[data-size="11"] {
    min-height: var(--space-11);
  }

  &[data-size="12"] {
    min-height: var(--space-12);
  }

  &[data-orientation="horizontal"] {
    &[data-size="1"] {
      min-width: var(--space-1);
    }

    &[data-size="2"] {
      min-width: var(--space-2);
    }

    &[data-size="3"] {
      min-width: var(--space-3);
    }

    &[data-size="4"] {
      min-width: var(--space-4);
    }

    &[data-size="5"] {
      min-width: var(--space-5);
    }

    &[data-size="6"] {
      min-width: var(--space-6);
    }

    &[data-size="7"] {
      min-width: var(--space-7);
    }

    &[data-size="8"] {
      min-width: var(--space-8);
    }

    &[data-size="9"] {
      min-width: var(--space-9);
    }

    &[data-size="10"] {
      min-width: var(--space-10);
    }

    &[data-size="11"] {
      min-width: var(--space-11);
    }

    &[data-size="12"] {
      min-width: var(--space-12);
    }
  }
}
