.list {
  display: flex;
  position: relative;
  gap: var(--space-2);
  align-items: center;
  z-index: 0;
  background-color: var(--gray-2);
  padding: 4px;
  border-radius: 6px;
}

.dark .list {
  --gray-2: var(--gray-1);
}

.tab {
  display: grid;
  place-items: center;
  color: var(--gray-11);
  padding-inline: var(--space-3);
  padding-block: 0;
  height: var(--space-8);
  background-color: transparent;
  border: 0;
  outline: 0;
  appearance: none;
  user-select: none;
  white-space: nowrap;
  word-break: keep-all;
  font-size: 14px;

  &[data-active] {
    color: var(--gray-12);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--gray-12);
    }
  }

  &:focus-visible {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 0.25rem;
      outline: 2px solid var(--blue-7);
    }
  }
}

.tabSeparator {
  height: var(--space-4);
  width: 1px;
  background-color: var(--gray-4);
}

.indicator {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 50%;
  translate: var(--active-tab-left) -50%;
  width: var(--active-tab-width);
  height: var(--space-8);
  border-radius: 4px;
  background-color: var(--gray-4);
  transition-property: translate, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.panel {
  padding: 0 var(--space-2) var(--space-2);
}
