.viewport {
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  width: calc(100% - 2 * var(--space-4));
  top: var(--space-4);
  right: var(--space-4);
  left: auto;
  bottom: auto;

  @media (min-width: 500px) {
    width: 380px;
    top: var(--space-8);
    right: var(--space-8);
  }
}

.toast {
  --gap: var(--space-2);
  --peek: var(--space-2);
  --scale: calc(max(0, 1 - (var(--toast-index) * 0.1)));
  --shrink: calc(1 - var(--scale));
  --height: var(--toast-frontmost-height, var(--toast-height));
  --offset-y: calc(var(--toast-offset-y) * -1 + (var(--toast-index) * var(--gap) * -1) + var(--toast-swipe-movement-y));

  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  margin: 0 auto;
  background: var(--gray-3);
  color: var(--gray-12);
  border: 1px solid var(--gray-6);
  padding: var(--space-4) var(--space-6);
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
  background-clip: padding-box;
  border-radius: 0.5rem;
  transform-origin: bottom center;
  margin-right: 0;
  -webkit-user-select: none;
  user-select: none;
  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s,
    height 0.15s;
  cursor: default;
  z-index: calc(1000 - var(--toast-index));
  height: var(--height);

  transform: translateX(var(--toast-swipe-movement-x))
    translateY(
      calc(var(--toast-swipe-movement-y) + (var(--toast-index) * var(--peek)) + (var(--shrink) * var(--height)))
    )
    scale(var(--scale));

  &[data-expanded] {
    transform: translateX(var(--toast-swipe-movement-x)) translateY(calc(var(--offset-y) * -1));
    height: var(--toast-height);
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(-150%);
  }

  &[data-limited] {
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;
    &[data-swipe-direction="up"] {
      transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
    }
    &[data-swipe-direction="left"] {
      transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction="right"] {
      transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
    }
    &[data-swipe-direction="down"] {
      transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: calc(var(--gap) + 1px);
  }
}

.content {
  overflow: hidden;
  transition: opacity 0.25s;
  display: flex;
  gap: var(--space-3);
  align-items: center;

  &[data-behind] {
    opacity: 0;
  }

  &[data-expanded] {
    opacity: 1;
  }
}

.contentBody {
  flex: 1;
}

.title {
  color: var(--gray-12);
  font-weight: 500;
  font-size: 14px;
}

.description {
  color: var(--gray-11);
  font-size: 14px;
}

.close {
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);
  padding: 0;
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--gray-11);

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    color: var(--gray-12);
  }
}

.action {
  margin-left: var(--space-2);
}

.icon {
  align-self: start;
  margin-top: 3px;

  svg {
    width: 16px;
    height: 16px;
  }

  &[data-type="info"] {
    svg {
      color: var(--blue-11);
      fill: var(--blue-3);
    }
  }

  &[data-type="success"] {
    svg {
      color: var(--green-11);
      fill: var(--green-3);
    }
  }

  &[data-type="warning"] {
    svg {
      color: var(--yellow-11);
      fill: var(--yellow-3);
    }
  }

  &[data-type="error"] {
    svg {
      color: var(--red-11);
      fill: var(--red-3);
    }
  }
}
