.positioner {
  outline: 0;
  z-index: 999;
}

.popup {
  padding-inline: var(--space-3);
  padding-block: var(--space-2);
  border-radius: 12px;
  border: 1px solid var(--gray-7);
  background-color: var(--gray-12);
  color: var(--gray-1);
  font-size: 14px;
  line-height: 1.2;

  box-shadow:
    0 10px 15px -3px #00000039,
    0 4px 6px -4px #00000039;

  transition:
    transform 0.15s,
    opacity 0.15s;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.arrow {
  width: var(--space-2);
  height: var(--space-2);
  rotate: 45deg;
  background-color: var(--gray-12);
}
