@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

* {
  font-family: "Geist";
}
