@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

* {
  font-family: "Geist";
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dark .docs-story {
  background-color: #000;
}

.dark .sbdocs-wrapper {
  background-color: #000;
}

.dark .sbdocs-title {
  color: #fff;
}
