@import "tailwindcss";

@theme {
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: var(--space-1);
  --spacing-2: var(--space-2);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-7: var(--space-7);
  --spacing-8: var(--space-8);
  --spacing-9: var(--space-9);
  --spacing-10: var(--space-10);
  --spacing-11: var(--space-11);
  --spacing-12: var(--space-12);
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

* {
  font-family: "Geist";
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.dark {
  background-color: var(--gray-1);
  color: var(--gray-12);

  .docs-story {
    background-color: var(--gray-1);
    color: var(--gray-12);
  }

  .sbdocs-wrapper {
    background-color: var(--gray-1);
  }

  .sbdocs-title {
    color: #fff;
  }
}
